<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE POSTER GENERATOR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>MOVIE POSTER GENERATOR</h1>

        <form>
        <div class="input-field">
            <input id="title" type="text" placeholder="Movie name" name="title">
        </div>

        <div class="input-field">
            <input type ="submit" id="submit" class ="btn waves-effect waves-light" value = "Submit"/>
        </div>
        </form>


        <br>
        <h2 class="titleof"></h2>
        <br>

        <div class="poster">
            <img src="" id="image" alt="">
        </div>
       
    </div>
<!-- atharv tathe -->
    <script src="script.js"></script>
</body>
</html>